<?xml version="1.0"?>

<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
  <name>Empty image recognition environment</name>
  <maturity>development</maturity>
  <thumbnail>thumbnail.png</thumbnail>
  <sdf version="1.0">image_recognition_world.sdf</sdf>

  <description>
  Empty image revognition environment.
  </description>

</model>
